api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      email: ${ACME_EMAIL}
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

providers:
  docker:
    swarmMode: false
    exposedByDefault: false
    network: wizardsofts-megabuild_gibd-network
  file:
    filename: /etc/traefik/dynamic_conf.yml
    watch: true

log:
  level: INFO

accessLog: true

metrics:
  prometheus: {}
