@import url('https://fonts.googleapis.com/css2?family=Great+Vibes:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-white text-padma-dark;
}

@keyframes pulse-flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-flash {
  animation: pulse-flash 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
